.onlineTextarea{
    height: auto;
}

.outputdiv{
    height: 800px;
    overflow-y: auto
}

.sourceResearch{
    display: flex;
    flex-direction: column;
}

.sourceHeader{
    margin: 0;
    display: flex;
    align-items: center;
    background-color: rgb(76, 189, 238);
    font-size: 1.5em;
    font-weight: 200;
    padding-left: 4px;
    
}

.sourceContent{
    font-size: 1.5em;
    font-weight: 500;
    text-indent: 1%;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 10px;
    background-color: rgb(255, 253, 251);
    border-bottom: 1px solid rgb(76, 189, 238);
    border-left: 1px solid rgb(76, 189, 238);
    border-right: 1px solid rgb(76, 189, 238);
    margin-bottom: 10px;
    
}

.spinnerMainDiv{
    padding-top: 70px;
    text-align: center;
}

.spacer{
    flex: 1;
}

.close{
    opacity: 0.3;
    margin-right: 10px;
    border: none;
    outline:0;
    align-items: center; 
}

.close:focus{
    outline: none; 
}

.close::-moz-focus-inner{
    border: 0;
}

.close:hover {
    
    opacity: 1;
}
.close:before, .close:after {
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

.optionContent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.optBtn {
    width: 70%;
    border: 1px solid rgb(94, 172, 192);
    background-color: white;
    padding:5px;
    cursor: pointer;
}

.optBtnActive{
    background-color: rgb(166, 221, 247);
}

.optBtn:focus {
    outline: none;
}