.forgot-box{
  background: white;
  width: 350px;
  height: 400px;
  padding: 20px 30px;
  margin: 15vh auto 100px auto;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #aaa;
}

.forgot-box-imgdiv{
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

.forgot-box-imgdiv img{
  width: 120px;
}

.spacer{
  flex:1;
}

.optiondiv{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.optiondiv button{
  background: rgba(233, 68, 68, 0.781);
  color: white;
  font-weight: bold;
}