img {
  width: 100%;
}

.landing {
  position: relative;
  background: url("./images/bulsumaingate.png") no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
  margin-top: -24px;
  margin-bottom: -20px;
}

.landing-inner {
  padding-top: 5vh;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#books {
  z-index: 0;
  position: relative;
  height: 100%;
  width: 100%;
}

#bookimg {
  position: absolute;
  left: 0;
  bottom: 0;
}

#writeimg {
  position: absolute;
  left: 0;
  bottom: 0;
}

#androidimg {
  position: absolute;
  left: 0;
  bottom: 0;
}
