.sourceResearch{
    display: flex;
    flex-direction: column;
}

.sourceHeader{
    margin: 0;
    display: flex;
    align-items: center;
    background-color: rgb(76, 189, 238);
    font-size: 1.5em;
    font-weight: 200;
    padding-left: 4px;
    
}

.sourceContents{
    font-size: 1.5em;
    font-weight: 500;
    text-indent: 1%;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 10px;
    padding-right: 5px;
    background-color: rgb(255, 253, 251);
    border-bottom: 1px solid rgb(76, 189, 238);
    border-left: 1px solid rgb(76, 189, 238);
    border-right: 1px solid rgb(76, 189, 238);
    margin-bottom: 10px;
    
}

.menu{
    display: table;
    position: absolute;
    padding: 5px;
    border: 1px solid black;
    background: rgb(255, 255, 255);
    z-index: 100000;
    margin: 0;
    list-style: none;
    width: 200px;
    max-height: 220px;
    overflow: auto;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.message{
    padding-bottom: 5px;
    margin-bottom:5px;
    border-bottom: 2px solid black;
    font-size: 15px;
}

.suggestDiv{
    max-height: 220px;
    overflow: auto;
}

.suggest{
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.suggest:hover{
    background: rgb(224, 224, 224);
}

.editableDiv{
    height: 500px;
    font-size: 18px;
    overflow: auto;
}

u {
    text-decoration: none;
}

.spellingError{
    text-decoration: none;
    border-bottom: 3px solid rgba(228, 93, 93, 0.815);
    cursor: pointer;
}

.grammarsError{
    text-decoration: none;
    border-bottom: 3px solid rgba(98, 228, 93, 0.815);
    cursor: pointer;
}

.error{
    color: red;
}