.toggle_button{
    
    text-decoration: none;
    color: black;
    padding: 0;
    margin: 0;
    transition: 3s;
}

.toggle_button i{
    color: rgb(163, 163, 163);
    font-size: 1.5rem;
    transition: 3s;
}

.toggle_button:focus{
    outline: none;
    transition: 3s;
}

.toggle_button i:hover{
    color: rgb(116, 115, 115);
}

