.little{
    border: 2px solid #36A2EB;
}

.moderate{
    border: 2px solid #f49e61;
}

.heavy{
    border: 2px solid #FF6384;
}

.resultList{
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 10px 5px 5px 5px;
    margin-top: 5px;
}

.resultList p{
    font-size: 15px;
    line-height: 90%;
}

.button:focus{
    outline: none; 
}

.button::-moz-focus-inner{
    border: 0;
}

.button {
    display: inline-block;
    line-height: 2em;
    padding: 0 0.5em;
    background: #34343E;
    border-radius: 0.125em;
    background-clip: padding-box;
    text-decoration: none;
    margin-right: 1em;
    cursor: pointer;
  }

.button:hover {
    background-color: rgba(52, 52, 62, 0.349)
}

.button--ghost {
	border: 1px solid #EEE !important;
	background: none
}

.button--ghost--green {
	border-color: #7CBDBA !important
}