.overview{
    margin-bottom: 10px;
}

.overviewContent{
    font-size: 17px;
    
}

.little-text{
   color: #36A2EB;
}

.moderate-text{
   color: #f49e61;
}

.heavy-text{
   color: #FF6384;
}

.note{
    margin-top:30px;
    font-size: 13px;
    font-style: italic;
}